.login {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  background: white;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.36);
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  width: 98%;
  margin-bottom: 10px;
}

.or_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7em;
}

.or_txt span {
  height: 1.3px;
  background: #ddd;
  width: 100%;
  margin: 0px 6px;
}

._btn {
  background-color: #35a630;
  border: 0px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: white;
}

._btn:focus {
  outline: none;
}

._btn:hover {
  opacity: 0.8;
  transition: 200ms;
}

.login__registerButton {
  border: 1px solid darkgray;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 2px;
}

.login__registerButton:focus {
  outline: none;
}
